

.signup{
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.sign-up-form{
 font-family: 'Baloo 2', cursive;
 background: linear-gradient(90deg, rgba(229, 234, 212, 1.0) 0%, rgba(134, 188, 186, 1.0) 35%, rgba(67, 159, 168, 1.0) 100%);
}