{% extends 'base.html' %}

{% load static %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'custom/css/complain.css' %}">
{% endblock CSS%}

{% block content %}
<div class="garbage-upload my-5">
    <div class="container">
         <div class="row card upload_form">
              <div class="col-md-6 offset-md-3">
                  <h2 class="text-center h1 card-title mt-3">Complain Here</h2>
                   <form method="POST" class="form-group" >
                        {% csrf_token %}
                        {{complain_form.as_p}}
                        <button id="upload_btn" class="btn" type="submit">Complain</button>
                   </form>
              </div>
         </div>
    </div>
</div> 
{% endblock content %}